$breakpoint-xs: 414;  // Extra small devices (phones)
$breakpoint-sm: 576px;  // Small devices (portrait tablets and large phones)
$breakpoint-md: 768px;  // Medium devices (landscape tablets)
$breakpoint-lg: 992px;  // Large devices (laptops/desktops)
$breakpoint-xl: 1200px;  // Extra large devices (large laptops and desktops)
$breakpoint-xxl: 1440px;  // High def extra large devices (desktops)
$wp-breakpoint-md: 782px; // WordPress breakpoint.
$wp-breakpoint-sm: 600px; // WordPress breakpoint.
