*,
*::before,
*::after {
	box-sizing: border-box;
}

input[type="submit"] {
	cursor: pointer;
	align-items: center;
	display: inline-flex;
	justify-content: center;
	min-height: 2.7785em;
	min-width: 8em;
	padding: 0.629em 1.667em 0.65em;
	background-color: var(--wp--preset--color--primary);
	border-radius: 10px;
	border-width: 0;
	color: var(--wp--preset--color--base);
	font-family: inherit;
	font-size: var(--wp--preset--font-size--extra-small);
	font-weight: 400;
	line-height: 1.5;
	text-decoration: none;
}

input,
select,
textarea {
	font-size: var(--wp--preset--font-size--extra-small);
	font-family: inherit;

	&:focus-visible {
		outline: none;
	}
}

textarea {
	height: 4.3125rem;
}

img {
	max-width: 100%;
	height: auto;
}

select {
	background-color: rgba(172, 172, 172, 0.08);
	font-size: 12px;
	height: 38px;
	padding: 9px 43px 9px 9px;
	border: none;
	appearance: none;
}

body {

	@include media-max-md {
		--wp--preset--font-size--xx-large: 2.375rem;
		--wp--preset--font-size--x-large: 2rem;
		--wp--preset--font-size--large: 1.75rem;
		--wp--preset--font-size--medium: 1.375rem;
	}

	@include media-max-sm {
		--wp--preset--font-size--xx-large: 2.125rem;
		--wp--preset--font-size--x-large: 1.75rem;
		--wp--preset--font-size--large: 1.5rem;
		--wp--preset--font-size--medium: 1.25rem;
	}
}
