body {
	--wp--preset--spacing--1xs: calc(1rem * var(--zonryll--base--spacing-1));
	--wp--preset--spacing--1sm: calc(1.25rem * var(--zonryll--base--spacing-1));
	--wp--preset--spacing--1md: calc(1.5rem * var(--zonryll--base--spacing-1));
	--wp--preset--spacing--1lg: calc(1.75rem * var(--zonryll--base--spacing-1));
	--wp--preset--spacing--2xs: calc(2rem * var(--zonryll--base--spacing-2));
	--wp--preset--spacing--2sm: calc(2.25rem * var(--zonryll--base--spacing-2));
	--wp--preset--spacing--2md: calc(2.5rem * var(--zonryll--base--spacing-2));
	--wp--preset--spacing--2lg: calc(2.75rem * var(--zonryll--base--spacing-2));
	--wp--preset--spacing--3xs: calc(3rem * var(--zonryll--base--spacing-3));
	--wp--preset--spacing--3sm: calc(3.25rem * var(--zonryll--base--spacing-3));
	--wp--preset--spacing--3md: calc(3.5rem * var(--zonryll--base--spacing-3));
	--wp--preset--spacing--3lg: calc(3.75rem * var(--zonryll--base--spacing-3));
	--wp--preset--spacing--4xs: calc(4rem * var(--zonryll--base--spacing-4));
	--wp--preset--spacing--4sm: calc(4.25rem * var(--zonryll--base--spacing-4));
	--wp--preset--spacing--4md: calc(4.5rem * var(--zonryll--base--spacing-4));
	--wp--preset--spacing--4lg: calc(4.75rem * var(--zonryll--base--spacing-4));
	--wp--preset--spacing--5xs: calc(5rem * var(--zonryll--base--spacing-5));
	--wp--preset--spacing--5sm: calc(5.25rem * var(--zonryll--base--spacing-5));
	--wp--preset--spacing--5md: calc(5.5rem * var(--zonryll--base--spacing-5));
	--wp--preset--spacing--5lg: calc(5.75rem * var(--zonryll--base--spacing-5));
	--wp--preset--spacing--6xs: calc(6rem * var(--zonryll--base--spacing-6));
	--wp--preset--spacing--6sm: calc(6.25rem * var(--zonryll--base--spacing-6));
	--wp--preset--spacing--6md: calc(6.5rem * var(--zonryll--base--spacing-6));
	--wp--preset--spacing--6lg: calc(6.75rem * var(--zonryll--base--spacing-6));
	--wp--preset--spacing--7xs: calc(7rem * var(--zonryll--base--spacing-7));
	--wp--preset--spacing--7sm: calc(7.25rem * var(--zonryll--base--spacing-7));
	--wp--preset--spacing--7md: calc(7.5rem * var(--zonryll--base--spacing-7));
	--wp--preset--spacing--7lg: calc(7.75rem * var(--zonryll--base--spacing-7));
	--wp--preset--spacing--8xs: calc(8rem * var(--zonryll--base--spacing-8));
	--wp--preset--spacing--8sm: calc(8.25rem * var(--zonryll--base--spacing-8));
	--wp--preset--spacing--8md: calc(8.5rem * var(--zonryll--base--spacing-8));
	--wp--preset--spacing--8lg: calc(8.75rem * var(--zonryll--base--spacing-8));
	--wp--preset--spacing--9xs: calc(9rem * var(--zonryll--base--spacing-9));
	--wp--preset--spacing--9sm: calc(9.25rem * var(--zonryll--base--spacing-9));
	--wp--preset--spacing--9md: calc(9.5rem * var(--zonryll--base--spacing-9));
	--wp--preset--spacing--9lg: calc(9.75rem * var(--zonryll--base--spacing-9));
	--wp--preset--spacing--10xs: calc(10rem * var(--zonryll--base--spacing-10));
	--wp--preset--spacing--10sm: calc(10.25rem * var(--zonryll--base--spacing-10));
	--wp--preset--spacing--10md: calc(10.5rem * var(--zonryll--base--spacing-10));
	--wp--preset--spacing--10lg: calc(10.75rem * var(--zonryll--base--spacing-10));
}
